<h2>Event Mail</h2>
  <%= form_with url: mailer_create_group_path(group.id),method: :get, local: false do |f| %>
    <%= f.label :Title %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :Content %>
    <%= f.text_area :content, class: "form-control" %>
    <div class="text-right">
      <%= f.submit "é€ä¿¡", class: "btn btn-success mt-3 text-right"%>
    </div>

  <% end %>