<h2>投稿数の前日比・前週比</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @create_today.count %></td>
      <td><%= @create_yesterday.count %></td>
      <td>
        <% if @create_yesterday.count == 0 %>
          前日無
        <% else %>
          <%= (@ratio*100).round %>%
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @create_thisweek.count %></td>
      <td><%= @create_lastweek.count %></td>
      <td>
        <% if @create_lastweek.count == 0 %>
          前日無
        <% else %>
          <%= (@week_ratio*100).round %>%
        <% end %>
      </td>
    </tr>
  </tbody>
</table>