<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user,isroom: @isroom, roomid: @roomid,room: @room,entry: @entry %>

      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book ,category: @category %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <div id="books">
        <%= render 'books/index',books: @books %>
      </div>
      
      <%= form_with url: user_path(@user.id),method: :get,local: false do |f| %>
        <%= f.date_field :day %>
        <%= f.submit "検索",class: "btn btn-primary" %>
      <% end %>
      <div id="bookrecord">
      </div>
    </div>
  </div>
</div>
